.meltano
.meltano/
.venv
.venv/
.git
.peter
.env
.keys/
secret.json
key.json
report.csv
*.sqlite
*.db
__pycache__
*.pyc
**/.DS_Store
**/logs
**/target
**/dbt_packages
transform/dbt_packages
transform/package-lock.yml
transform/target
transform/logs
DEBUG_GA4.PY
cloud_functions.py
cloud_function1.py
refresh.py
refreshtoken.py
upload.py
tap-reddit-catelog.json
