.meltano
.meltano/
.venv
.venv/
.git
.peter
.env
secret.json
key.json
docker.py
report.csv
*.sqlite
*.db
transform/dbt_packages
transform/package-lock.yml
transform/target
transform/logs
__pycache__
*.pyc
